<h2>HOME</h2>
<h3><%= @user.name %>さん、ようこそ</h3>
<%= form_with(model: @task) do |f| %>  <!--デフォルトでメソッド：ポストに設定 -->
<p><%= f.text_field :content %><%= f.submit '新規作成' %></p>
<% end %>


<div class="d-flex justify-content-between align-items-center mb-3">
<h3>タスク一覧</h3>
<%= form_with(url: tasks_path, method: :get) do |f| %>
    <%= f.select :status, [["todo","todo"],["doing", "doing"],["done","done"]], 
    {selected: params[:status], include_blank: true} %> <!--パラメータからtodo/doing/doneのどれかを連れ出す-->
    <%= f.submit "絞り込み" %>
<% end %>
</div>

<table class="table table-striped">
  <tbody>
    <tr>
      <th>id</th><th>タスク内容</th><th>登録日時</th><th>進捗</th><th>編集</th><th>削除</th>
    </tr>
        <% @tasks.each do |task| %>
    <tr>
        <td><%= task.id %></td>
        <td><%= task.content %></td>
        <td><%= task.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= task.status %></td>
        <td><%= link_to "編集", edit_task_path(task) %></td>
        <td><%= link_to "削除", task_path(task), method: :delete, data: {confirm: '削除しますか？'} %></td>
    </tr>
    <% end %>
  </tbody>
</table>



<% if params[:status] == "done" %>
    <%= link_to "一括削除", destroy_all_path, method: :delete, data: {confirm: '一括削除しますか？'} %>
<% end %>

<%= paginate @tasks %>
<%#= will_paginate @tasks, previous_label: '&lt 前へ', next_label: '次へ &gt' %>

