<h2>HOME</h2>
<h3><%= @user.name %>さん、ようこそ</h3>
<br>
<%= form_with(model: @task) do |f| %>  <!--デフォルトでメソッド：ポストに設定 -->
<p><%= f.text_field :content, placeholder: 'タスクを入力' %><%= f.submit '新規作成' %></p>
<% end %>
<br>
<p>タスク一覧</p>
<%= form_tag(task_search_path, method: :get) do %>
    <%= select_tag(:status, options_for_select([["todo","todo"],["doing", "doing"],["done","done"]])) %>
    <%= submit_tag "絞り込み" %>
<% end %>
<br>
<table>
    <tr>
    <th>id</th><th>タスク内容</th><th>登録日時</th><th>進捗</th><th>編集</th><th>削除</th>
    </tr>
    <% @tasks.each do |task| %>
    <tr>
        <td><%= task.id %></td>
        <td><%= task.content %></td>
        <td><%= task.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= task.status %></td>
        <td><%= link_to "編集", edit_task_path(task) %></td>
        <td><%= link_to "削除", task_path(task), method: :delete, data: {confirm: '削除しますか？'} %></td>
    </tr>
    <% end %>
</table>

<%= will_paginate @tasks, previous_label: '&lt 前へ', next_label: '次へ &gt' %>
